.centered
{
    text-align: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right
{
    text-align: right;
}

.left
{
    text-align: left;
}

.get-started-button
{
    text-align: center;
    min-width: 50%;
}

.get-started-button-about-page
{
    text-align: center;
    min-width: 20%;
}

.home-page-title
{
    font-size: 60px;
    font-weight: bold;
}

.spinning-globe-gif
{
    border-style: outset;
    border-width: 8px;
}

.footer-link
{
    font-size: 20px;
    text-decoration: underline;
    line-height: 1.5;
}

.footer-title
{
    font-size: 30px;
    font-weight: bold;
}

/* This is for making the footer stick to the bottom of the page */
.body-flex-wrapper
{
    flex-grow: 1;
}

.make-footer-stick
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dropdown-style
{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p
{
    font-size: 20px;
}

.scatter-plot-container
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
}